<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>MecBar</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Satisfy" rel="stylesheet">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 
  <script src="js/app.js"></script> 

  <!-- sumome  link social -->
  <script src="//load.sumome.com/" data-sumo-site-id="98711fc4997a561007230296cfc67bf8fe083e4799bea5270763985560b583ec" async="async"></script>
  <!-- font x icone social + email -->
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
<!-- facebook open graph -->
  <meta property="og:url"             content="https://www.mecbar.com" /> 
  <meta property="og:title"           content="Introducing our New Site" /> 
  <meta property="og:image"           content="https://www.mecbar.com/mecface.jpg" /> 
  <meta property="og:description"    content="MecBar for you" />


</head>
<body>
  <!-- nav bar fissa -->
  <div class="navbar-fixed" id="head">
    <nav>
      <div class="nav-wrapper white">
        <a href="#!" class="brand-logo">Mecbar</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#dev">Development</a></li>
          <li><a href="#voy">Voyager</a></li>
          <li><a href="#us">Contatti</a></li>
        </ul>
      </div>
    </nav>
  </div>



  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1  class="brand-logo center">MecBar</h1>
        <div class="row center">
          <h5 class="header col s12 light">Inizia il viaggio Sentiti a casa Ovunque tu sia</h5>
        </div>
        <div class="row center">
      <!--    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        -->
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="backgr1.jpg" alt="Unsplashed background img 1"></div>
  </div>

   <div class="rowcenter" id="dev">
   <br>
   <br>
   <p>Development</p>
   <br>
   <br>
   </div> 
   <!-- background -->
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light white-text ">Non avere limiti  I tuoi obiettivi ti aspettano</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="back2.jpg" alt="Unsplashed background img 2"></div>
  </div>


  <div class="container">
    <div class="section1" id="cono">

   <!--     Icon Section  -->   
     <div class="row">
       <h4 class="center brown-text">Inserire un Questionario </h4>
     </div> 
     <div class="row">
        <div class="col s12 m6">
          <div class="icon-block center">
          
          <!--  <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up developmen-t</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          -->     

               <a class="typeform-share button" href="https://mecbar.typeform.com/to/cb5S8D" data-mode="drawer_left" style="display: inline-block; text-decoration: none; background-color: #267DDD; color: white; cursor: pointer; font-family: Helvetica, Arial, sans-serif; font-size: 24px; line-height: 0.6em; padding: 10px 30px; margin: 0; height: 1.5em; border-radius: 50px; box-shadow: none; background-image: none; border: none" target="_blank">Questionario-pop up</a> <script> (function() { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://s3-eu-west-1.amazonaws.com/share.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "share.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block center">
            <!--     <h2 class="center brown-text"><i class="material-icons">group</i></h2> -->
           <a class="typeform-share button" href="https://mecbar.typeform.com/to/cb5S8D" data-mode="popup" style="display: inline-block; text-decoration: none; background-color:#C42929; color: white; cursor: pointer; font-family: Helvetica, Arial, sans-serif; font-size: 24px; line-height: 0.6em; padding: 10px 30px; margin: 0; height: 1.5em; border-radius: 50px; box-shadow: none; background-image: none; border: none" target="_blank">Questionario-full page</a> <script> (function() { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://s3-eu-west-1.amazonaws.com/share.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "share.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
          </div>
        </div>
     </div>
    </div>
  </div>
  <br>
  <br>
     <!--     mail lis  -->   
     <div class="container">
      <div class="row">
      <div class="section  center">
        <h4 class="center brown-text">Inserire mail per iscriversi nella MailingList</h4>
       <div class="input-field col s12 l6 offset-l3">
           <!-- inserire email x mail list-->
           <br>
         <div id="mc_embed_signup">
           <form action="http://github.us15.list-manage.com/subscribe/post?u=11d1ee8dfbd9869f04ba74522&amp;id=a663aefcc9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
         <div id="mc_embed_signup_scroll">
	        	<input type="email" value="" name="EMAIL" class="email validate white center black-text" id="mce-EMAIL" placeholder="Inserisci qui la tua email" required>
    
            <button class="btn btn-registrazione waves-effect waves-light red lighten-1" type="submit" name="action" >Voglio Registrarmi!</button>
         </div>
        </form>
      </div>
     </div>
    </div>
   </div>
  </div>

<!-- esempio angularls -->
<br>
<br>
<section class="angular">
  <br>
 <div class="container">
<div class="row">
 <h3 align='center' >Esempio di form con AngularJs </h3> 
<br>
<br>
<div ng-app="">
-<h4 class="center brown-text">Inserisci il tuo nome :</h4>
  <div class="input-field col s12 l6 offset-l3">
  <input class="center black-text" type="text" name="nome" ng-model="nome" >

  <h5  class="center red-text" ng-show="nome" >Hello, {{nome}}</h5>
</div>
</div>
</div>
</div>
</section>


<section class="angular2" ng-app="mecbar">
  <br>
 
 <div class="container">
<div class="row">
 <h3 align='center' >Esempio di template AngularJs per inserire Operazioni </h3> 
<br>
<br>
<div ng-controller="MenuCtrl">
  <label for "opearation_search" >
  <input class="form-group" type="text" name="name_search" ng-model="search.operation" >
<br>
<br>
<br>

 <form role="form" novalidate>
  <label for="operation" class="form-group">Inserisci nuova operazione:</label>
  <input class="form-group" type="text" name="name" ng-model="operation.name" >
  <button class="btn btn-registrazione" type ="submit" ng-click="addOperation(operation)" >Add Operation</button>
 </form>
  <br>
<div="row">
<div>
  <h5  class="center red-text" ng-show="!operationList.length" >
    Non ci sono ancora operation registrate</h5>
</div>
 <div  ng-show="operationList.length" ng-repeat="oper in operationList | filter:search.operation">Operation name : {{oper}} 
  </div>

</div>
</div>
 </div>
 </div>
</section>
 <!--    
            <br>
   <div ng-app="mecbar">
              <br>
  <section ng-init="risultato=false" 
          ng-controller="MenuGenerale" >
          
   <div ng-form="forma" class="form-group" novalidate>
    <form method=""  name="reviewForm" >
          
     <br>
       
    <label for ="input_test" class=”control-label” > Inserisci il tuo nome : </label>
    <input  ng-model="test" class=”form-control” type="text" name="input_test"  value=" "  required> </input>    

<br>
<br>
 <blockquote><cite> Ciao, </cite> {{ test }} 
          </blockquote>


<aside>      
    <p><input type="submit"  value="Search"	class= ”btn btn-primary” ></p>
    
    
     <p> <input type="reset" value="Reset"></p>
     
    
     <a type="button" id="esci"  class="btn btn-danger"  class=”form-control-static2” href="/index">Home</a>  
 </aside>
   </form>
   </section>
   </div>
-->


  <div class="container">
    <div class="section">

      <div class="row" id="us" >
        <br>
        <div class="col s12 center">
          <br>
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          
        </div>
      </div >
      <div class="row center">
  <a href=mailto:info@mecbar.com   class="social-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i>
  </a>
  <a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fmecbar.com%2F" class="social-icon" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
   <a href="https://www.linkedin.com/in/gabriele-mecella-1547b1137
"  class="social-icon" target="_blank">
  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
   </a>
   <a href="https://www.twitter.com/mec252525" class="social-icon" target="_blank">
  <i class="fa fa-twitter" aria-hidden="true"></i>
   </a>
   <a href="https://plus.google.com/115226907752727184469" class="social-icon" target="_blank"> 
   <i class="fa fa-google-plus" aria-hidden="true"></i>
   </a>
   </div>
    </div>
  </div>
    <div class="rowcenter" id="voy">
     <br>
     <br>   
     <p>Start the wonderful voyage</p> 
     <br>
     <br>
   </div> 
  <div class="row center">
    <br>
    <a class="btn tooltipped orange" data-position="left" data-delay="50" data-tooltip="Norway Bergen-Oslo">Discover!</a>
   </div> 
  <div class="row center">
   <iframe  src="//commons.wikimedia.org/wiki/File:Bergensbanen_1280x720.ogv?embedplayer=yes" width="854" height="480" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    
  </div>

   <div class="rowcenter">
   <br>
   <br>
   <br>
   <br>
   </div> 

   <div class="row center">
    <br>
    <a class="btn tooltipped orange" data-position="left" data-delay="50" data-tooltip="Oresund Bridge Copenaghen-Malmoe">Discover!</a>
   </div> 
  <div class="row center">
  
    <iframe width="854" height="480" src="https://www.youtube.com/embed/s7VD-Athq_w" ></iframe>
  </div>

   <div class="rowcenter">
   <br>
   <br>
   <br>
   <br>
   </div> 
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light white-text">Looking a modern responsive front-end framework</h5>
        </div>
    <div class="parallax"><img src="back2012.jpg" alt="Unsplashed background img 3"></div>
   </div>
  </div>
 </div>

  <footer class="page-footer deep-orange darken-1">
    <div class="container">
      <div class="row">
        <div class="col l10 s10">
          <h5 class="white-text">MecBar</h5>
          <p class="grey-text text-lighten-4">Don't Warry Be Happy</p>
        </div>
        <div class="col l2 s2">
          <a  class="white-text" href="#head"  >Torna su <i class="material-icons">arrow_upward</i></a>
        </div>
       </div>
     </div>
     <div class="footer-copyright">
      <div class="container">
     &copy 2017-2027  <a class="brown-text text-lighten-4" >  Mecbar</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <!-- google analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93827509-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>
